<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Lucas Polonio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-6">
          <div class="name">
            Lucas Polonio
          </div>
          <div class="profession">
            web developer
          </div>
          <div class="description">
            <p>
              Toronto-based web developer.
              Passionate about the web and its underlying technologies for more than a decade, I have built my first web app when I was 13.
              Today I have a special love for Ruby on Rails and AngularJS, along with TDD.
            </p>
            <p>
              Currently working remotely for the brazilian Ministry of Education, I have worked for large, medium and small sized companies as a developer and small teams leader. 
            </p>
            <p>
              I am currently looking for a full-time job in Toronto, as I recently moved here from Brazil. If you'd like to know more about me, check my github and stack overflow profiles and contact me through linkedin or facebook.
            </p>
            <div class="icons">
              <a href="http://www.github.com/lucaspolonio" target="_blank">
                <img src="/github-icon.png" height="28" alt="GitHub">
              </a>
              <a href="http://stackoverflow.com/users/2840867/lucas-polonio" target="_blank">
                <img src="/stackoverflow-icon.png" height="34" alt="stackoverflow">
              </a>
              <a href="http://br.linkedin.com/pub/lucas-polonio/49/b21/534" target="_blank">
                <img src="/linkedin-icon.png" height="30" alt="Linkedin">
              </a>
              <a href="http://fb.com/polonio" target="_blank">
                <img src="/facebook-icon.png" height="30" alt="Facebook">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>