<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Lucas Polonio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">    
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,500' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="main.css">

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-mocks.js"></script>
    <script src="js/vendor/google-charts-timeline.js"></script>
    
    <script src="js/cvApp.js"></script>
    <script src="js/controllers/timeline.js"></script>
    <script src="js/directives/resize-with-window.js"></script>
    <script src="js/directives/timeline-chart.js"></script>

  </head>
  <body>
    <div class="container" ng-app="cvApp" ng-controller="timelineController" >
      <div class="row">
        <div class="col-md-offset-2 col-md-6">
          <div class="top-spacing hidden-xs">
          </div>
          <div class="name">
            Lucas Polonio
          </div>
          <div class="profession">
            web developer
          </div>
            <div class="icons">
              <a href="http://www.github.com/lucaspolonio" target="_blank">
                <img src="/github-icon.png" height="28" alt="GitHub">
              </a>
              <a href="http://stackoverflow.com/users/2840867/lucas-polonio" target="_blank">
                <img src="/stackoverflow-icon.png" height="34" alt="stackoverflow">
              </a>
              <a href="http://ca.linkedin.com/pub/lucas-polonio/49/b21/534" target="_blank">
                <img src="/linkedin-icon.png" height="30" alt="Linkedin">
              </a>
            </div>
          <div class="description">
            <p>
              Toronto-based web/mobile developer.
              I started coding when I was 13 and I haven't stopped since then.
            </p>
            <p>
              I’ve been working with several back-end and front-end technologies for the past years.
              Today I have a special love for Ruby on Rails and AngularJS, along with TDD.
              I'm currently working remotely for the Brazilian Ministry of Education.
            </p>
            <p>
              If you'd like to know more about me check out my
              <a href="http://www.github.com/lucaspolonio">GitHub</a>,
              <a href="http://stackoverflow.com/users/2840867/lucas-polonio">stackoverflow</a> and
              <a href="http://ca.linkedin.com/pub/lucas-polonio/49/b21/534">LinkedIn</a>
              profiles. Also, here's a timeline of my professional experiences by skill:
            </p>

            <div ng-timeline-chart ng-resize-with-window class="skills_chart"></div>

            <div class="worth_mentioning">
              More skills worth mentioning: RSpec, Jasmine, Postgresql, MySQL, MongoDB, Redis, Heroku, AWS, HTML5, CSS3, Git and more.
            </div>

          </div>
        </div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54936203-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>